@use "../../styles/base.scss";

.container {
  a {
    background: white;
    border: 2px solid rgba($color: base.$dark-color, $alpha: 0.5);
    border-radius: 5px;
    box-shadow: 8px 8px 3px base.$dark-color;
    display: block;
    padding: 8rem 5rem;
    color: base.$primary-color;
    transition: 350ms ease-in-out;
  }

  a:hover {
    background: base.$primary-color;
    color: base.$light-color;
    transform: scale(102%);
  }
}
