$heading-font: sans-serif;
$body-font: sans-serif;

$massive-font: 10rem;
$big-font: 7rem;
$medium-font: 4rem;
$small-font: 2rem;
$paragraph-font: 1.6rem;

$light-color: white;
$dark-color: black;
$primary-color: purple;
$secondary-color: teal;